/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
.app .title {
  margin: 40px auto 30px auto;
  font-size: 40px;
  font-family: Helvetica, sans-serif;
}
/* line 13, ../sass/_main.scss */
.app .container {
  width: 505px;
  height: 505px;
}
/* line 18, ../sass/_main.scss */
.app .chessboard {
  margin: 10px auto 10px auto;
  border: 3px solid black;
}
/* line 19, ../sass/_main.scss */
.app .chessboard table {
  width: 500px;
  height: 500px;
}
/* line 22, ../sass/_main.scss */
.app .chessboard table td {
  padding: 10px;
  border: 2px solid black;
  width: 25%;
}
/* line 27, ../sass/_main.scss */
.app .chessboard table .blackText {
  color: black;
}
/* line 34, ../sass/_main.scss */
.app .resetbutton {
  width: 100%;
  margin: 40px auto 10px auto;
}
